## Base16 {{scheme-name}}
# Author: {{scheme-author}}

color={{base00-hex}}

bs-hl-color={{base03-hex}}
caps-lock-bs-hl-color={{base03-hex}}

key-hl-color={{base0D-hex}}
caps-lock-key-hl-color={{base0D-hex}}

inside-color={{base00-hex}}
inside-clear-color={{base00-hex}}
inside-caps-lock-color={{base00-hex}}
inside-ver-color={{base05-hex}}
inside-wrong-color={{base00-hex}}

layout-bg-color={{base00-hex}}
layout-border-color={{base00-hex}}
layout-text-color={{base05-hex}}

line-color={{base00-hex}}
line-clear-color={{base00-hex}}
line-caps-lock-color={{base00-hex}}
line-ver-color={{base00-hex}}
line-wrong-color={{base00-hex}}

ring-color={{base00-hex}}
ring-clear-color={{base00-hex}}
ring-caps-lock-color={{base00-hex}}
ring-ver-color={{base00-hex}}
ring-wrong-color={{base00-hex}}

separator-color={{base00-hex}}

text-color={{base05-hex}}
text-clear-color={{base05-hex}}
text-caps-lock-color={{base0D-hex}}
text-ver-color={{base00-hex}}
text-wrong-color={{base08-hex}}
